{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "prefer-promise-reject-errors": 1,
    "eqeqeq": 1,
    "no-console": 1,
    "no-plusplus": 0,
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/destructuring-assignment": 1,
    "import/no-unresolved": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2,
        "endOfLine": "auto"
      }
    ]
  }
}